body {
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

#main{
    margin: 0;
    padding: 0; 
    height: 100%;
    overflow-y: hidden;
}

#mainbody{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    background-color: #f0f0f0;
}

#display {
    flex-grow: 1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 26.7dvw; /* Width of the sidebar */
    background-color: #3f4762; 
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition: width 0.3s ease;
}

#sidebar_buttons {
    display: flex;
    background-color: white;
    flex-shrink: 1;
}

#sidebar_buttons ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}

#sidebar_buttons ul:hover{
    overflow-x: auto;
}

#sidebar_buttons li {
    text-decoration: none;
    color: black;
    padding: 20px; /* Adjusts padding for better fit */
    text-align: center;
    flex: 1 1 0;
    box-shadow: inset 0 -2px 0 black;
    box-sizing: border-box; /* Ensures padding doesn’t exceed width */
}

.sidebar-button {
    background-color: white; 
    color: rgb(35, 34, 34);  
    border: none;
    cursor: pointer; 
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* Add color transition */
}

#sidebar_buttons li:hover {
    color: red;
    box-shadow: inset 0 -2px 0 red; 
}

#header{
    background-color: rgb(225, 1, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headertext{
    padding: 2px;
    float: left;
    display: table;
}

#headertext h1{
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    padding-left: 30px;
}

#sidebar_content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
}

.filterButton {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    padding: 5px; 
    background-color: white; 
    border-bottom: 2px solid #ccc;
    transition: background-color 0.2s ease, color 0.3s ease; /* Add color transition */
}

.filterButton input[type="checkbox"] {
    margin-right:20px;
    margin-top: 6px;
    transform: scale(1.2);
    accent-color: red;
    
}

.filterButton input[type="checkbox"]:hover {
    cursor: pointer;
}

.filterButton:hover {
    color: red;
    background-color: rgb(230, 230, 230);
}

.filterButton i{
    margin-left: auto; 
    margin-right: 20px;
    font-size: 1.2em; 
}

#graphsContent{
    margin: 10px;
    padding: px;
}

#exportContent{
    margin: 10px;
    padding: 5px;
}

.exportDownload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    color: blue;
    text-decoration: none;
}

.exportDownload:hover{
    transition: background-color 0.2s ease, color 0.3s ease;
    color: red;
    cursor: pointer;
}

.exportDownload i{
    padding-left: 10px;
    margin-left: auto;
    font-size: 1.2em; 
}

#sidebarToggle {
    background-color: transparent;
    color: white;
    padding-right: 10px;
    padding-top: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-top: 1  
}

#sidebar.visible{
    width: 0px;
}

#sidebarToggle:hover{
    transition: color 0.2s ease;
    color: rgb(122, 122, 122);
}

#searchBox{
    position: relative;
}

#searchBar {
    width: 25dvw;
    height: 100%;
    background-color: rgb(213, 1, 1);
    padding: 10px;
    border-color: white;
    color: white;
    transition: color 0.2s ease, background-color 0.2s ease;
}

#searchBar::placeholder{
    color: white;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

#searchBar:hover::placeholder{
    color: black;
}

#searchBar:hover, #searchBar:focus{
    background-color: white;
    color: black
}

#searchBar::-webkit-search-cancel-button {
    cursor: pointer; 
}

#autocomplete{
    position: absolute;  
    top: 100%;           
    left: 0;
    width: 100%;      
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 9000;
    overflow-y: auto;
    max-height: 53dvh;
}

#autocomplete li{
    padding: 5px;
    font-size: 0.9rem;
}

#autocomplete li:hover{
    transition: color 0.2s ease, background-color 0.2s ease;
    color: red;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}